
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--color-black: #1B1E1F;
	--color-blue-clear: #11E4BC;
	--color-white: #fff;
}

*,
html,
#root {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: none;
}

body {
	font-size: 18px;
	font-family: 'Poppins', sans-serif;

	font-weight: 300;
}

.container {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: row;

	position: relative;
}

.container article .content {
	margin-top: 15px;
	height: 95vh;
	border: 1px solid rgba(0, 0, 0, .2);

	width: 320px;

	display: flex;
	flex-direction: column;
	align-items: center;

	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.container article .content .avatar {
	margin-top: 40px;
}

.container article .content .avatar {
	border-radius: 100%;
	padding: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container article .content .avatar img {
	width: 130px;
	height: 130px;

	object-fit: cover;
	border-radius: 100%;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, .2);
}

.container article .content .description {
	text-align: center;
	padding-top: 20px;
	color: var(--color-black);
}


.container article .content .description h1{
	font-size: 1.5rem;
	color: #4d5156;
}

.container article .content .description span{
	font-size: 1rem;
	font-weight: 300;
}

.container article .content .menu {
	margin-top: 80px;
}

.container article .content .menu ul {
	list-style: none;
}

.container article .content .menu ul li {
	margin-top: 20px;

	width: 250px;
	padding: 15px;

	text-align: center;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 50px;
}

.container article .content .menu ul .active {
	background-color: #099;
	border: 1px solid #099;
}

.container article .content .menu ul .active a {
	color: white !important;	
}

.container article .content .menu ul li a {
	text-decoration: none;
	color: gray;
	font-weight: 400;
}

.container .render {
	display: flex;
	flex-direction: column;

	margin: auto 10%;
	position: relative;
}

.container .render .abaut h3 {
	font-size: 1.5rem;
}

.container .render .abaut button {
	margin-top: 30px;
	padding: 15px 30px;

	border: none;
	border-radius: 100px;
	font-size: 1.2rem;
	background-color: #099;

	color: white;
}

.container .render .abaut button i {
	padding-right: 5px;
}

.container .render .sociais {
	margin-bottom: 100px;
}

.container .render .sociais ul {
	display: flex;
	padding-top: 20px;
}

.container .render .sociais ul li {
	width: 50px;
	height: 50px;

	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container .render .sociais ul li i {
	font-size: 1.5rem;
	color: rgba(0, 0, 0, .3);
}

.container .render .portifolio .title{
	font-size: 1.5rem;
	margin-bottom: 30px;
}

.container .render .portifolio .content {
	display: flex;
	flex-direction: row;

	width: 700px;
	overflow-x: scroll;
	position: relative;
}

.container .render .portifolio .card {
	margin: 15px;
	position: relative;
}

.container .render .portifolio .card .actions {
	top: 10px;
	right: 10px;
	position: absolute;

	display: flex;

}

.container .render .portifolio .card .actions .button {
	width: 40px;
	height: 40px;

	background-color: black;
	margin: 2px;
	border-radius: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container .render .portifolio .card .actions .button i {
	font-size: 1.5rem;
	color: white;
}

.container .render .portifolio .card img {
	width: 250px;
	height: 250px;

	object-fit: cover;
	border-radius: 20px;
}

.container .render .skills h3 {
	font-size: 1.5rem;
	margin-bottom: 30px;
}


